Source: anyfs-tools
Section: otherosfs
Priority: optional
Maintainer: Kirill A. Kórinskiy <catap@catap.ru>
Build-Depends: debhelper (>= 5), autotools-dev, ext2fs-dev,  xfslibs-dev, libbz2-dev, libmpeg2-4-dev,  uuid-dev, libblkid-dev
Standards-Version: 3.7.2

Package: anyfs-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: unix-way toolset for recovering and converting filesystems
 anyfs-tools allows you to recover and convert filesystems while using
 minimal extra disk space. Unlike other recovery tools, anyfs-tools
 doesn't copy all the files found on other disks (or partitions), but
 only saves information about the location of the file blocks to an
 external inode table. After recovery, a user may mount the damaged
 filesystem with anyfs and the external inode table and then interact
 with all recovered files with any program.
